{% extends 'base.html' %}
{% load static %}
        {% block title %}
        {{ recipe.title}} - Scrumptious Recipes
        {% endblock title %}
    {% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        {% if recipe.id %}
        <a href="{% url 'edit_recipe' id=recipe.id %}">Edit this recipe</a>
        {% endif %}
        <hr>
      </nav>
</header>
<main>
    <h1>{{ recipe.title }}</h1>
    <img src="{{ recipe.picture }}" name="taco">
    <p>4.3 stars</p>
    <p class="description">{{ recipe.description }}</p>
    <div>
        <ol>
            {% for step in recipe.steps.all %}
            <li> {{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </div>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
    {% endblock content %}